.section-title {
  color: #000000;
}

/* style for exchange toolbar */
input,
select {
  border: 1px solid #e0e0e0 !important;
  box-sizing: border-box;
  border-radius: 8px !important;
}

select {
  background-image: url("https://www.kindpng.com/picc/m/111-1119013_downward-arrow-png-drop-down-icon-vector-transparent.png") !important;
  background-position: right 1.5rem center !important;
  background-size: 10px 7px !important;
}

select:focus {
  box-shadow: none !important;
  border: 1px solid #49cd5e !important;
}

.save-btn {
  color: white;
  background-color: #49cd5e;
  border: #49cd5e;
  border-radius: 8px;
}

/* style for history table component */
.table {
  color: #000000 !important;
}

.table thead,
.table tbody tr:nth-child(even) {
  background-color: #eeeeee;
}

.live-price {
  color: #49cd5e;
}

.table tbody tr:hover {
  cursor: pointer;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
}

/* customized style for date picker */
.react-datepicker-popper {
  z-index: 1000;
}

.react-datepicker {
  font-family: "Red Hat Display", sans-serif !important;
  box-shadow: 0px 8px 16px rgba(17, 17, 17, 0.06);
  border-radius: 8px !important;
  padding: 15px;
  border: unset !important;
}

.react-datepicker__header {
  background-color: #ffffff !important;
  border: unset !important;
}

.react-datepicker__navigation {
  top: 20px !important;
}

.react-datepicker__navigation-icon::before {
  border-color: #000000 !important;
  border-width: 2px 2px 0 0 !important;
  width: 8px !important;
  height: 8px !important;
}

.react-datepicker__current-month {
  font-size: 1rem !important;
}

.react-datepicker__day-names {
  margin-bottom: -20px;
}

.react-datepicker__day-name {
  color: #9c9c9c !important;
  width: 2.2rem !important;
  line-height: 2.2rem !important;
}

.react-datepicker__day {
  border-radius: 8px !important;
  width: 2.2rem !important;
  line-height: 2.2rem !important;
  border: 1px solid #000000;
}

.react-datepicker__day--disabled {
  background: #eeeeee;
  color: #9c9c9c !important;
  border: unset !important;
}

.react-datepicker__day--keyboard-selected {
  background-color: #000000 !important;
  font-weight: normal !important;
  border: unset !important;
}

/* style for filter and sort by */
.filter-btn {
  color: #1b31a8;
  background-color: white;
  border: 1px solid #1b31a8;
  border-radius: 8px;
}

.sort-arrow {
  cursor: pointer;
}

/* style for pagination */
.page-item.active .page-link {
  color: #ffffff !important;
  background-color: #000000 !important;
  border: #000000 !important;
  border-radius: 8px !important;
}

.page-link {
  cursor: pointer;
  color: #000000 !important;
  border: none !important;
  border-radius: 8px !important;
}

.page-link:hover {
  background-color: #e8f1f1 !important;
}

.page-link:focus {
  border: 1px solid #5e9d9f !important;
}

.prev-next-btn {
  color: #565d5f;
}

.prev-next-btn:hover {
  color: #5e9d9f;
  cursor: pointer;
}

.prev-next-btn:focus {
  color: #223cc7;
}

.prev-next-btn:active {
  color: #000000;
}

/* style for mobile data history */
.mobile-data-history {
  background-color: #eff0f6;
  border: 1px solid #eff0f7;
  box-sizing: border-box;
  border-radius: 12px;
  cursor: pointer;
}

.approved-dot {
  height: 20px !important;
  width: 20px !important;
  background-color: #40b439;
  border-radius: 50%;
}

.exchanged-dot {
  height: 20px !important;
  width: 20px !important;
  background-color: #6368df;
  border-radius: 50%;
}

.approved-status {
  color: #40b439;
}

.exchanged-status {
  color: #6368df;
}
